.social-item a i.bi-facebook:hover {
	color: #3532da;
}

.social-item a i.bi-instagram:hover {
	color: #e1306c;
}

.social-item a i.bi-twitter:hover {
	color: #1da1f2;
}

.social-item a i.bi-youtube:hover {
	color: #ff0000;
}

.social-item {
	padding-right: 30px;
	display: flex;
}

/* Общий фон футера */
.footer {
	background-color: #f8f9fa;
}

/* Заголовки в футере */
.footer h5 {
	font-weight: 600;
	margin-bottom: 15px;
}

/* Навигация */
.footer ul {
	padding: 0;
	list-style: none;
}

.footer .nav-link {
	padding: 0;
	margin-bottom: 10px;
	font-size: 0.95rem;
	color: #6c757d;
	transition: color 0.3s ease;
}

.footer .nav-link:hover {
	color: #000;
}

/* Социальные сети */
.footer a {
	color: #6c757d;
}

.footer a:hover {
	color: #000;
}

/* Кнопки */
.footer .btn-dark {
	background-color: #141414;
	border: none;
	border-radius: 25px;
	padding: 0.5rem 1rem;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer .btn-dark:hover {
	background-color: #495057;
	transform: translateY(-2px);
}

/* Поле ввода */
.footer .form-control {
	border: 1px solid #ced4da;
	border-radius: 25px;
	padding: 0.5rem 1rem;
	box-shadow: none;
}

.footer .form-control:focus {
	border-color: #343a40;
	outline: none;
	box-shadow: 0 0 5px rgba(52, 58, 64, 0.2);
}

/* Разделитель */
.footer hr {
	border-top: 1px solid #ced4da;
}

/* Текст */
.footer p {
	font-size: 0.85rem;
	color: #6c757d;
}
