.instagram-images {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 0;
}
.instagram {
	padding-bottom: 100px;
}

.instagram-item {
	overflow: hidden;
}

.instagram-item img {
	width: 100%;
	height: auto;
	display: block;
	transition: transform 0.3s ease;
}

.instagram-item img:hover {
	transform: scale(1.1);
}

.instagram h2 {
	margin-bottom: 20px;
	margin-top: 70px;
	font-size: 28px;
}
