.instagram-images {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.instagram {
	padding-bottom: 120px;
}

.instagram-item {
	overflow: hidden;
}

.instagram-item img {
	width: 100%;
	height: auto;
	display: block;
}

.instagram h2 {
	margin-bottom: 20px;
	margin-top: 70px;
	font-size: 28px;
}
